rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isLoggedIn() {
    	return request.auth != null;
    }
  
  	function isOwner(userId) {
    	return request.auth != null && request.auth.uid == userId;
    }
  
    function isAdmin(userId) {
      return request.auth != null && request.auth.uid == userId && request.auth.token.accountType == 'admin';
    }

    function isTeacher(schoolId) {
      return request.auth != null && request.auth.token.accountType == 'teacher' && request.auth.token.schoolId == schoolId;
    }

    match /schools/{doc} {
      allow get, list, create;
    }

    match /schools/{userId}/{documents=**} {
    	allow read;
      allow write: if isOwner(userId);
    }

    match /schools/{schoolId}/attendances/{document} {
      allow write;
    }
  }
}