rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(userId) {
      return request.auth != null && request.auth.uid == userId && request.auth.token.accountType == 'admin';
    }

    function isTeacher(schoolId) {
      return request.auth != null && request.auth.token.accountType == 'teacher' && request.auth.token.schoolId == schoolId;
    }

    match /schools/{doc} {
      allow get, list, create;
    }

    match /schools/{userId}/{documents=**} {
      allow read, write: if isAdmin(userId);
    }

    match /schools/{schoolId}/{documents=**} {
      allow read: if isTeacher(schoolId);
    }

    match /schools/{schoolId}/students/{studentId} {
      allow get;
    }

    match /schools/{schoolId}/classes/{documents=**} {
      allow read;
    }

    match /schools/{schoolId}/attendances/{document} {
      allow list;
      allow write: if isTeacher(schoolId);
    }
  }
}