rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /schools/{doc} {
      allow create;
    }

    match /schools/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /{documents=**} {
      allow read, write: if true
    }
    // match /{document=**} {
    //   allow read, write: if request.auth != null;
    // }
  }
}